/* 색상 및 배경 속성 */
/* color 속성 */
.like {
  color: rgb(255 0 0 /0.5);
  color: hsla(110, 50%, 20%, 0.5);
}

/* background 속성 */
.wrapper {
  background-color: blue;
  padding: 5px;

  .euid {
    background-color: yellow;
  }
}
/* background -image/ background-repeat /background-position  */
/* 이미지를 다중 선택 가능 */
/* 나중에 선언한 이미지가 뒤로 쌓인다. */
.container {
  border: 1px solid red;
  margin-block: 20px;
  /* background-size:
    contain,
    100px 50px;
  background-image: url(/src/assets/images/tree.png), url(/src/assets/images/cloud.png);
  background-repeat: no-repeat, no-repeat;
  background-position:
    50% 0,
    70% 0; */
  background:
    url(/src/assets/images/tree.png) no-repeat 50% 0 / contain,
    url(/src/assets/images/cloud.png) no-repeat 70% 0 /100px 50px,
    skyblue;
}
/* background-image:liner-gradient() */
.frontend{
  border: 5px solid blue;
  background-image: linear-gradient(red,green);
  border-radius: 20px;
}