/* 논리 속성과 논리값 */
/* width,height */
.like {
  background: #ffc;
  inline-size: 200px;
  block-size: 100px;
}
/* margin,padding */
.lion {
  background: #ffc;
  padding-block: 20px;
  margin-inline: 20px;
}

/* position:absolute; top; right; bottom; left */
/* inset 논리속성 */
.bootcamp {
  background: #cff;
  position: relative;
  inline-size: 300px;
  block-size: 100px;

  strong {
    position: absolute;
    background: #fcf;
    inset: 0;
    /* inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0; */
  }
}

.frontend {
  background: #cff;

  strong {
    background: yellowgreen;
    float: inline-end;
  }
}

.euid {
  padding: 10px;
  background: salmon;
  border-block-end: 2px solid blue;
}
