/* flex 레이아웃 */
div {
  background: var(--yellow);

  > div:nth-child(1) {
    background: var(--pink);
  }
  > div:nth-child(2) {
    background: var(--green);
  }
  > div:nth-child(3) {
    background: var(--blue);
  }
  > div:nth-child(4) {
    background: var(--orange);
  }
}
/* Flex -flex-direction */
.like {
  padding: 0.5em;
  display: flex;
  flex-direction: row;

  div:nth-child(even) {
    order: 1;
  }
}
/* flex-wrap ,flex-flow*/
.lion {
  display: flex;
  /* flex-direction: row-reverse;
  flex-wrap: wrap; */
  flex-flow: wrap row-reverse;
  padding: 0.5em;
  inline-size: 600px;

  > div {
    inline-size: 150px;
  }
}

/* justify-content,align-items */
.euid {
  block-size: 200px;
  padding: 0.5em;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  align-items: stretch;
}

/* align-content */
.frontend {
  display: flex;
  inline-size: 400px;
  block-size: 200px;
  flex-flow: wrap row;
  justify-content: start;
  /* align-items: start; */
  align-content: space-evenly;

  > div {
    inline-size: 200px;
  }
}

/* gap 아이템 사이들의 여백을 뜻함*/
.bootcamp {
  display: flex;
  flex-flow: wrap row;
  /* padding: 1 em; */
  inline-size: 400px;
  column-gap: 40px;
  block-size: 200px;

  > div {
    inline-size: 180px;
  }
  /* align-self 레이아웃 */
  .bootcamp-item1 {
    align-self: start;
  }
}

/* flex, flex-grow, flex-shrink, flex-basis */
/* flex-basis는 확대,축소를 위한 기준값.'0'으로 줘서 균등하게 하는 것 */
/* flex-grow를 잘 사용하여 '반응형 웹'을 만들 수 있음 */
/* flex-grow 기본값 '0',shrink는 '1' */
.school {
  display: flex;
  flex-flow: nowrap row;
  inline-size: 50%;

  > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* inline-size: 50px; basis가 있으면 인라인 사이즈가 무시된다.*/
  }
}
