/* 라이트/다크 모드 */

:root {
  color-scheme: light dark;
}

body {
  /* 라이트 다크 모드 스타일 */
  background: yellow;
  color: green;

  /* 미디어 쿼리는 선택자 안에 넣어서 사용할 수 있다. */
  @media (prefers-color-scheme: dark) {
    background: purple;
    color: white;
  }
}

body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #223a2c);
}

/* 라이트 모드 스타일 */
/* body {
  background: yellow;
  color: green;
} */

/* 다크 모드 스타일 */
/* @media (prefers-color-scheme: dark){
  body{
    background: #000;
    color: #fff;
  } */
